<div id="NavBar" class="container">
    <a routerLink="/insert" routerLinkActive="active" type="button" class="btn btn-success btn-lg">Insert</a> 
    <a routerLink="/delete" routerLinkActive="active" type="button" class="btn btn-success btn-lg">Delete</a>
    <a routerLink="/update" routerLinkActive="active" type="button" class="btn btn-success btn-lg">Update</a>
    <a routerLink="/find" routerLinkActive="active" type="button" class="btn btn-success btn-lg">Find</a>
    <a routerLink="/findall" routerLinkActive="active" type="button" class="btn btn-success btn-lg">View All</a>
</div>
<hr>