
<form #frm="ngForm" (ngSubmit)="addNewEmployee(frm)">
    <b class='inputInfo'>Employee ID</b>  <input name='id' type='text' ngModel pattern="[0-9]+" required><br><br>
    <b class='inputInfo'>Employee Name</b>  <input name='eName' type='text' ngModel pattern="[A-Z][a-zA-Z]+" required><br><br>
    <b class='inputInfo'>Employee Salary</b>  <input name='salary' type='text' ngModel pattern="[0-9]+" required><br><br>
    <p style="font-size: 14px; color: maroon;">Note: Insert button will be disabled until the<br> form inputs are valid.</p>
    <input class='btn btn-success btn-lg' type='submit' value='Insert' [disabled]="frm.invalid">
</form>

<p style="color:red;"><b>{{ msg }}</b></p>
